.documentation_Container {



    .documentation_Content {
        display: flex;
        flex: 2;
        margin-top: 80px;
        padding: 60px;
        margin-left: 300px;
        max-width: 75%;
        height: 100%;
        font-size: 20px;




        .document_Title {
            font-weight: 400;
            font-size: 60px;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 800px) {
    .documentation_Container {

        .documentation_Content {
            margin-top: 0px;
            padding: 20px;
            margin-left: 0px;
            max-width: 100%;

        }
    }
}