.header_Container {
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: #D9D9D9;
    font-size: 18px;
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;

    .header_Content {
        justify-content: center;

        display: flex;
    }

    a {

        padding: 10px;

        &:hover {
            color: #847e7e;
        }
    }

    .logoHeader {
        padding: 0 36px;

        img {
            height: 50px;
        }
    }

    .navBar {
        justify-content: space-between;
        display: grid;
        grid-template-columns: 10fr 1fr;
        align-items: center;

        .nav_Options {

            display: flex;

        }


        .nav_Github {

            font-size: 14px;
        }
    }

    .navBar_Icon_Mobile {
        display: none;
    }
}

@media (max-width: 600px) {
    .header_Container {


        .header_Content {
            width: 80%;
            display: flex;
            justify-content: space-between;


            .navBar {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                position: fixed;
                top: 50px;
                right: -300px;
                width: 300px;
                height: 100vh;
                background-color: #D9D9D9;
                box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
                padding: 40px 0 0 10px;
                transition: 0.3s ease-in-out;

                &.active{
                    right: 0;
                }
                .nav_Options {
                    font-size: 30px;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                }

                .nav_Github {

                    font-size: 20px;
                }
            }

          

            .navBar_Icon_Mobile {
                display: block;
            }


        }
    }

}