.header_Container {
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    font-size: 18px;
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    
    .header_Content {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    a {

        padding: 10px;

        &:hover {
            color: #847e7e;
        }
    }

    .header_Logo {
        padding: 0 36px;

        img {
            height: 50px;
        }
    }

    .navBar {
       
        width: 50%;
        .close_Button {
            display: none;
        }

        justify-content: space-between;
        display: flex;
        align-items: center;
        

        .nav_Options {

            display: flex;

        }
        .nav_Option_Active {
            border-bottom: 3px black solid;
        }

        .nav_Github {

            font-size: 14px;
        }
    }

    .navBar_Icon_Mobile {
        display: none;
    }
}



@media (max-width: 800px) {
    .header_Container {


        .header_Content {
            width: 80%;
            display: flex;
            justify-content: space-between;


            .navBar {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                position: fixed;
                right: -300px;
                width: 300px;
                height: 100vh;
                background-color: #D9D9D9;
                box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
                padding: 40px 0 0 10px;
                transition: 0.3s ease-in-out;

                &.active {
                    right: 0;
                }

                .close_Button {
                    display: block;
                }

                .nav_Options {
                    font-size: 30px;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                }

            
                .nav_Option_Active {
                    border-bottom: 0px black solid;
                }
                .nav_Github {

                    font-size: 20px;
                }
            }



            .navBar_Icon_Mobile {
                display: block;
            }


        }
    }

}