.header_Container{
    height:80px;
    display:flex;
    gap: 100px;
    
    background-color: #D9D9D9;
    font-size: 18px;
}
.logoHeader{
    padding: 0 36px;
}
img{
    height:80px;
}

.navBar{
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
   
}
.nav_Options{
    display:flex;
    width: 100%;
    gap: 100px;
}


.nav_Github{
  padding: 0 100px;
  font-size:14px
}



