
      
      
      .card {
        display: grid;
        grid-template-rows: 2fr 1fr;
        border: 1px solid black;
        border-radius: 5px;
        width: 230px;
        height: 150px;
        box-shadow: 1px 1px 5px black;
       

        h2 {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
           
        }

        &:hover {


            h2 {
                span {
                    display: block;
                    
                }
                cursor: pointer;
                background: linear-gradient(rgba(255, 255, 255, 0.918), rgba(34, 34, 34, 0.5));
            }


        }

        img {
            margin: auto;
            height: 64px;
        }

        h2 {
            span {
                right: 0;
                display: none;
                position: absolute;

            }
        }







    }

