.header_Container {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    font-size: 18px;
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    border-bottom: 2px gray solid;

    .header_Content {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    a {
        color: rgb(67, 67, 67);

        &:hover {
            color: #847e7e;
        }
    }

    .header_Logo {
        padding: 0 36px;

        img {
            height: 50px;
        }
    }

    .navBar {

        width: 50%;

        .close_Button {
            display: none;
        }

        justify-content: space-between;
        display: flex;
        align-items: center;


        .nav_Options {
            font-size: 22px;
            display: flex;
            gap: 20px;

        }

        .nav_Option_Active {

            border-bottom: 3px black solid;
        }

        .nav_Networks {


            .github,
            .npm {

                width: 80px;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

            }
        }
    }

    .navBar_Icon_Mobile {
        display: none;
    }
}



@media (max-width: 800px) {
    .header_Container {


        .header_Content {
            width: 80%;
            display: flex;
            justify-content: space-between;


            .navBar {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                position: fixed;
                right: -100%;
                width: 100%;
                height: 100vh;
                background-color: #D9D9D9;
                box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
                padding: 40px 0 0 10px;
                transition: 0.3s ease-in-out;

                &.active {
                    right: 0;
                }

                .close_Button {
                    display: block;
                }

                .nav_Options {
                    font-size: 35px;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }


                .nav_Option_Active {
                    border-bottom: 0px black solid;
                }

                .nav_Networks {
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;


                    .github,
                    .npm {
                        width: 90px;

                        a {
                            font-size: 23px
                        }

                        .icon_Networks {
                            font-size: 18px;
                        }
                    }
                }
            }



            .navBar_Icon_Mobile {
                display: block;
            }


        }
    }

}