.gettingStarted_Container {
   
    ul {
        margin-left: 60px;
        margin-bottom: 20px;

        li {
            margin-top: 10px;
        }
    }

    h2 {
        font-weight: 600;
        margin: 30px 0px 15px 0;
    }


    .gettingStarted_Content {

        .gettingStarted_Summary {


            list-style-type: none;
           
            li {
                
               
               
                a {
                    display:flex;
                    align-items: center;
                    justify-content: flex-start;

                    height: 25px;
                    padding: 15px;
                    
                    &:hover{
                        background-color: #c7c7c7;
                    }
                }
            }




        }

        .step01_Container {}

        .step02_Container {

            h4 {
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 20px;
            }

            .code {
                background-color: #eee;
                border-radius: 3px;
                font-family: courier, monospace;
                padding: 0 3px;
                font-size: 18px;
                font-weight: bold;

            }



        }

        .step03_Container {

            .jsx_Content {
                margin: 15px 0px;
                display: flex;

                img {
                    height: 80px;
                }

                h3 {

                    margin-top: 65px;
                    color: rgb(83, 193, 222)
                }
            }

            .tsx_Container {
                margin: 15px 0px;
                display: flex;

                img {
                    height: 90px;
                }

                h3 {

                    margin-top: 65px;
                    color: #0288d1
                }
            }




        }

    }
}