@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

  --background: #3D3D4D;
  --colorLetter:#ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3D3D4D;
    --colorLetter:#ffffff;
  }
}

body {
  background: var(--background);
  color: var(--colorLetter);

}

