.stack_Conteiner {


    .stack_Content {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;


    }
}

@media (max-width: 600px) {
    .stack_Conteiner {

        .stack_Content {

            justify-content: center;


        }
    }
}