.gettingStarted_Container {

    ul {
        margin-left: 60px;
        margin-bottom: 20px;
        list-style-type: none;

        li {
            margin-top: 10px;
        }
    }

    h2 {
        font-weight: 600;
        margin: 30px 0px 15px 0;
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 20px;
    }

    .gettingStarted_Content {

        .divison_Container {
            font-size: 80px;

            display: flex;
            justify-content: center;
            line-height: 10px;
            margin-bottom: 80px;
        }

        .gettingStarted_Summary {

            li {

                a {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    height: 25px;
                    padding: 15px;

                    &:hover {
                        background-color: #c7c7c7;
                    }
                }
            }




        }

        .step01_Container {

            .button_Container_ExampleCode {
                display: flex;
                gap: 25px;
                margin-bottom: 20px;



                .button {

                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    width: 150px;
                    padding: 12px;
                    justify-content: space-between;
                    border-radius: 10px;
                    background-color: #fff;
                    border: 0.2px #c7c7c7 solid;
                    cursor: pointer;

                }

                .npm_Button {
                    background-color: #e9191958;
                    border: 2px #e9191958 solid;
                }

                .yarn_Button {
                    background-color: #3179c64b;
                    border: 2px #3179c67a solid;
                }
            }
        }

        .step02_Container {

            h4 {
                margin-bottom: 20px;
            }



            .code {
                background-color: #eee;
                border-radius: 3px;
                font-family: courier, monospace;
                padding: 0 3px;
                font-size: 18px;
                font-weight: bold;

            }



        }

        .step03_Container {

            ul li {
                a {
                    color: blue;
                }

                img {
                    margin-top: 20px;
                    max-width: 70%;
                    border-radius: 10px;
                }
            }
        }

        .step04_Container {
            .button_Container_ExampleCode {
                display: flex;
                gap: 25px;
                margin-bottom: 20px;

                .button {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    width: 150px;
                    padding: 12px;
                    justify-content: space-between;
                    border-radius: 10px;
                    background-color: #fff;
                    border: 0.2px #c7c7c7 solid;
                    cursor: pointer;
                }

                .javascript_Button {
                    background-color: #f1dc50a9;
                    border: 2px #f1dc50a9 solid;
                }

                .typescript_Button {
                    background-color: #3179c64b;
                    border: 2px #3179c67a solid;
                }
            }

            .jsx_Content {
                margin: 15px 0px;
                display: flex;

                img {
                    height: 80px;
                }

                h3 {

                    margin-top: 65px;
                    color: rgb(83, 193, 222)
                }
            }

            .tsx_Container {
                margin: 15px 0px;
                display: flex;

                img {
                    height: 90px;
                }

                h3 {

                    margin-top: 65px;
                    color: #0288d1
                }
            }




        }

    }
}

@media (max-width: 800px) {
    .gettingStarted_Container {

        .gettingStarted_Content {
            .step03_Container {

                ul {


                    li {
                        img {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}