.project_Conteiner {
    .title{
        font-weight: 400;
        font-size: 60px;
        margin-bottom: 20px;
    }

    .project_Content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 1147;
        gap: 5px;
       
        .tip {
            background-color: rgba(240, 248, 255, 0.445);
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            img {
                height: 40px;
    
            }
            a{
                font-weight: 600;
                color:blue;
            }
        }


    }
}

@media (max-width: 600px) {
  .project_Conteiner {
    .title{
        font-weight: 400;
        font-size: 60px;
        margin-bottom: 20px;
    }

    .project_Content {
     
       justify-content: center;
        


    }
}
}