.footer_Container {
    width: 100%;
    min-height: 75px;
    background-color: #3A3E45;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 10px;
    position: absolute;





    a {
        color: white;

        &:hover {
            color: #847e7e;
        }
    }

    .footer_Content {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        .footer_Thanks {}

        .footer_Credits {}
    }
}

@media (max-width: 800px) {

    .footer_Container {
        height: 150px;

    }
}